body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  height: 1000px;
  background-color: black !important;
  line-height: normal !important;
}

.header {
  font-family: 'Roboto Slab', serif;
  font-size: 200% !important;
  margin-bottom: 0px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  font-weight: bold !important;
}

.newsfeed {
  /*font-family: 'Pacifico', cursive !important;*/
  text-align: center;
  vertical-align: middle !important;
  /*line-height: 0px !important;*/
  /*font-size: xx-large !important;*/
  /*font-weight: bold;
  font-style: italic;*/
  border-radius: 2em !important;
  position: -webkit-sticky !important;
  position: sticky !important;
  top: 20px;
  border: 3px solid !important;
  background-color: black !important;
  color: white;
  z-index: 999 !important;
}

.newsfeedDiv {
  border: 0px !important;
}

/*background-image:
linear-gradient(
  to right,
  yellow,
  orange,
  rgb(250, 25, 127)
) !important;
}*/

/*rgba(255, 196, 0),

rgb(250, 25, 127	*/

.newspaper {
  color: white !important;
}

.cloud {
  color: blue !important;
}

.twitterFeed {
  color: white !important;
}

.tweet {
  background: rgba(165, 165, 165, 0.07) !important;
}

.tweetLink {
  color: rgb(245, 0, 107) !important;
  text-align: left !important;
  font-size: 75% !important;
}

.tweetLink:hover {
  color: white !important;
}

.interestsBack {
  height: 5000px !important;
}

.tweetArticles {
  background: rgba(165, 165, 165, 0.3) !important;
  border-radius: 15px 50px !important;
  padding: 20px !important;
}

.tweetBody {
  color: white !important;
}

.tweetPosted {
  font-size: 55% !important;
  text-align: left !important;
  display: inline-block !important;
  margin-left: 10px !important;
  font-style: italic !important;
  color: white !important;
}

.tweetMeta {
  font-size: large !important;
  color: black !important;
}

.modalHeader {
  text-align: center;
  font-size: 800% !important;
  font-weight: bold;
  font-style: italic;
  text-decoration: underline !important;
}

.modalContent {
  text-align: center;
  font-size: 600% !important;
  font-weight: bold;
  font-style: italic;
}

.height {
  height: 1000px !important;
}

.landingButtons {
  background: transparent !important;
}



.nav {
  margin-bottom: 0px !important;
  /*background-color: rgb(4, 4, 8) !important;*/
  background-image:
  linear-gradient(
    to right,
    yellow,
    orange,
    rgb(250, 25, 127)
  ) !important;

  /*position: -webkit-sticky !important;
  position: sticky !important;
  top: 20px;*/
  /*z-index: 999 !important;*/
}

.spacer {
  margin-bottom: 20px !important;
}

/*.navheader:hover {
  color: #c603ac !important;
  /*text-shadow: 0 0 0 #c603ac !important;*/
  /*text-shadow: 0 0 10px #ffffff,
             0 0 20px  #ffffff,
             0 0 30px  #ffffff,
             0 0 40px  #c603ac,
             0 0 70px  #c603ac,
             0 0 80px  #c603ac,
             0 0 100px #c603ac,
             0 0 150px #c603ac;*/

.neon {
  font-family: 'Monoton', cursive;
  font-size: 40px;
  margin-bottom: 0px;
  text-align: center !important;
  /*margin-left: 260%;*/
  /*margin-right: auto;*/
  color: #ffffff !important;
  text-align: center;
  text-shadow: 0 0 10px #ffffff,
             0 0 20px  #ffffff,
             0 0 30px  #ffffff,
             0 0 40px  #c603ac,
             0 0 70px  #c603ac,
             0 0 80px  #c603ac,
             0 0 100px #c603ac,
             0 0 150px #c603ac;

    /*Animation*/
    -webkit-animation: neonAnimation 1s ease-in-out infinite alternate;
    -moz-animation: neonAnimation 1s ease-in-out infinite alternate;
    animation: neonAnimation 1s ease-in-out infinite alternate;
}
/*Webkit prefix*/
@-webkit-keyframes neonAnimation {
  from {
    text-shadow: 0 0 10px #ffffff,
               0 0 20px  #ffffff,
               0 0 30px  #ffffff,
               0 0 40px  #c603ac,
               0 0 70px  #c603ac,
               0 0 80px  #c603ac,
               0 0 100px #c603ac,
               0 0 150px #c603ac;
  }
  to {
    text-shadow: 0 0 5px #ffffff,
               0 0 10px #ffffff,
               0 0 15px #ffffff,
               0 0 20px #c603ac,
               0 0 35px #c603ac,
               0 0 40px #c603ac,
               0 0 50px #c603ac,
               0 0 75px #c603ac;
  }
}

/*Moz prefix*/
@-moz-keyframes neonAnimation {
  from {
    text-shadow: 0 0 10px #ffffff,
               0 0 20px  #ffffff,
               0 0 30px  #ffffff,
               0 0 40px  #c603ac,
               0 0 70px  #c603ac,
               0 0 80px  #c603ac,
               0 0 100px #c603ac,
               0 0 150px #c603ac;
  }
  to {
    text-shadow: 0 0 5px #ffffff,
               0 0 10px #ffffff,
               0 0 15px #ffffff,
               0 0 20px #c603ac,
               0 0 35px #c603ac,
               0 0 40px #c603ac,
               0 0 50px #c603ac,
               0 0 75px #c603ac;
  }
}

/*No prefix*/
@keyframes neonAnimation {
  from {
    text-shadow: 0 0 10px #ffffff,
               0 0 20px  #ffffff,
               0 0 30px  #ffffff,
               0 0 40px  #c603ac,
               0 0 70px  #c603ac,
               0 0 80px  #c603ac,
               0 0 100px #c603ac,
               0 0 150px #c603ac;
  }
  to {
    text-shadow: 0 0 5px #ffffff,
          0 0 10px #ffffff,
          0 0 15px #ffffff,
          0 0 20px #c603ac,
          0 0 35px #c603ac,
          0 0 40px #c603ac,
          0 0 50px #c603ac,
          0 0 75px #c603ac;
}
}

@keyframes blinker {
  50% { opacity: 0.0; }
}

.wordcloud {
  /*background-color: black !important;*/
  text-align: center;
  font-size: xx-large;
  font-weight: bold;
  font-style: italic;
  height: 3000px;
  cursor: pointer;
}

.dashCloud {
  cursor: pointer;
}

.trendsLoader {
  top: 10% !important;
}

.interestSearch {
  /*background-color: black !important;*/
  text-align: center;
  padding-bottom: 10px;
}



.likesRetweets {
  font-size: medium !important;
  color: white !important;
}
.landing {
  font-size: 1000% !important;
}

.login {
  font-family: 'Warnes', cursive !important;
}

/*.background {
  background-color: gray;
}*/

.accordion {
  background: transparent !important;
  color: white !important;
}
/*<a href='http://lanlinglaurel.com/road-image/5078689.html'>Road Image </a>*/
/*https://ak9.picdn.net/shutterstock/videos/2729330/thumb/1.jpg?*/
/*https://tau0.files.wordpress.com/2012/11/pano_ft_davis_road.jpg*/

/*.parallax {
    background-image: url('https://tau0.files.wordpress.com/2012/11/pano_ft_davis_road.jpg');
    height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}*/

.navLink {
  color: white !important;
}

.navLink:hover {
  color: orange !important;
}

.moreArticles {
  background: transparent !important;
}

/*.dashCloud {
  text-align: center;
  font-size: xx-large;
  font-weight: bold;
  font-style: italic;
}*/
.mainArticleLink {
  color: white !important;
  font-size: 75% !important;
}

.mainArticleLink:hover {
  color: rgb(245, 0, 107) !important;
}

.articleLink {
  color: white !important;
}

.articleLink:hover {
  color: rgb(245, 0, 107) !important;
}
/*.steps {
  margin-top: 10px !important;
}*/

.pieLabels {
  text-align: center !important;
  display: inline !important;
  font-size: large !important;
  font-weight: bold;
}

.pieLabelContainer {
  text-align: center !important;
}

.articleSocial {
  color: white;
  text-align: center !important;
  display: inline !important;
  font-size: 120% !important;
  /*font-weight: bold;*/
  font-style: italic !important;
  vertical-align: center !important;
}

.articleSocialHeart {
  display: inline !important;
  text-align: right !important;
  margin-left: 5px !important;
}



.socialContainer {
  text-align: left !important;
}
.interestsButton {
  margin-top: 10px !important;
}



/*.pieChart {
  color: white !important;
  text-align: center;
  text-shadow: -0px 0px 0.1em white, 0px 0px 0.2em white, 0px 0px 0.3em white,
  0px 0px 0.4em rgb(255, 153, 0), 0px 0px 0.6em rgb(255, 153, 0), 0px 0px 0.8em rgb(255, 153, 0), 0px 0px 1.0em rgb(255, 153, 0), 0px 0px 1.2em rgb(255, 153, 0);
}*/

/*.pieChart:hover {
  text-shadow: -0px 0px 0.1em white, 0px 0px 0.2em white, 0px 0px 0.3em white,
  0px 0px 0.4em rgb(255, 153, 0), 0px 0px 0.6em rgb(255, 153, 0), 0px 0px 0.8em rgb(255, 153, 0), 0px 0px 1.0em rgb(255, 153, 0), 0px 0px 1.2em rgb(255, 153, 0);
}*/

.articles {
  border: 1px solid transparent !important;
  -moz-border-image: -moz-linear-gradient(left, yellow, orange, rgb(250, 25, 127)) !important;
  -webkit-border-image: -webkit-linear-gradient(left, yellow, orange, rgb(250, 25, 127)) !important;
  border-image: linear-gradient(to right, yellow, orange, rgb(250, 25, 127)) !important;
  border-image-slice: 1 !important;
  /*border-color: rgb(255, 131, 0) !important;*/
  background: black !important;
  border-radius: 2em !important;
  padding: 20px !important;
  font-size: large !important;
  /*border-color: rgba(255, 118, 21) !important;*/
}



/*background-image: url("http://uzaykasifi.com/wp-content/uploads/2016/03/simple-star-space-background-effect-videos-23768149-hd-stock.jpg") !important;*/


/*"https://ak8.picdn.net/shutterstock/videos/7118800/thumb/1.jpg"
http://www.easywallprints.com/upload/designs/newspaper-concept-background-zoom-1.jpg
http://l7.alamy.com/zooms/1345f8c1085846ffb34cb093e73018f5/grungy-newspaper-background-f0x18h.jpg*/
